/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

.hidden {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background: #221f1f;
    text-align: center;
}

.wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.centered {
    display: inline-block;
}

.header {
    width: 60%;
    padding: 0px 20%;
    float: left;
}

.header h1 {
    font-size: 102px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ed4136;
    line-height: 90%;
    margin-bottom: 15%;
}

.content {
    width: 60%;
    text-align: center;
    padding: 4% 20%;
    margin-bottom: 10px;
    float: left;
}

.content p {
    font-size: 22px;
    line-height: 30px;
}

.content p.line1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content p.line2 {
    font-size: 30px;
    font-weight: 540;
    text-transform: uppercase;
    margin-top: 40px;
}

.content p.line3 {
    margin-top: 80px;
}

.shadow-up {
    width: 100%;
    float: left;
    height: 21px;
    background: url(../images/shadow.png) center top no-repeat;
}

.shadow-down {
    width: 100%;
    float: left;
    height: 21px;
    background: url(../images/shadow.png) center bottom no-repeat;
}

@media only screen and (max-width: 1024px) {

    .header {
        width: 40%;
        padding: 0 30%;
        float: left;
    }

    .content {
        width: 40%;
        text-align: center;
        padding: 0 30%;
        margin-bottom: 10px;
        float: left;
    }

}

@media only screen and (max-width: 768px) {

    .header {
        width: 80%;
        padding: 0 10%;
        float: left;
    }

    .header h1 {
        font-size: 3em;
        font-weight: 900;
        text-transform: uppercase;
        color: #ed4136;
    }

    .content {
        width: 80%;
        text-align: center;
        padding: 0 10%;
        margin-bottom: 10px;
        float: left;
    }

    .content p {
        font-size: 18px;
        line-height: 90%;
    }

    .content p.line1 {
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

}